It will be here soon due to 250ms fails 500 will have low changes of success and also 1sec most people use but they have inbetween acuracy there

i will try for 750 but will shift that to the optimized one on future.|

Future is bright!